<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>crawlingServlet</servlet-name>
		<display-name>crawlingServlet</display-name>
		<description></description>
		<servlet-class>ch.fhnw.tagcloud.servlet.crawlingServlet.java</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>crawlingServlet</servlet-name>
		<url-pattern>/crawlingServlet</url-pattern>
	</servlet-mapping>


</web-app>
