## ignore any target dir
/target

##ignore only top level data dir - local node data files for unit tests
/data

.metadata
.DS_Store
.log
.settings
.class

.classpath
.project
TagCloud/TagCloud.Indexer/.classpath

TagCloud/TagCloud.Indexer/.classpath
TagCloud.rar
