/*
	Image use:
	http://download.unsplash.com/photo-1428908728789-d2de25dbd4e2
*/

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
	background: url(http://download.unsplash.com/photo-1428908728789-d2de25dbd4e2) no-repeat;
	background-size: cover;
	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
	
}

#form-main {
	width: 100%;
	float: left;
	padding-top: 0px;
}

#form-div {
	background-color: #fff;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 35px;
	padding-bottom: 50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
	margin-top: 30px;
	margin-left: -260px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

#box {
	    margin: auto;
	    background-color: #fff;
	    padding: 20px;
	    width: 500px;
	    min-height: 340px;
	    margin-top: 100px;
	    text-align: center;
}

#logowrapper{
	width: 250px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: -155px;
    text-align: center;
}

#logo {
	margin: auto;
	width: 100px;
}

.style-select {
	height: 50px;
	overflow: hidden;
	background-color: #e7e7e7;
	border-radius: 0;
	border: none;
	color: #3c3c3c;
	font-weight: 500;
	font-size: 18px;
	width: 100%;
   }

.crawl-input {
	height: 50px;
	color: #3c3c3c;
	font-weight: 500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #e7e7e7;
	padding: 13px 13px 13px 13px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid #e7e7e7;
}

.crawl-input:focus {
	background: #fff;
	box-shadow: 0;
	border: 3px solid #00B4FF;
	outline: none;
	padding: 13px 13px 13px 13px;
}

.focused {
	color: #00B4FF;
	border: #00B4FF solid 3px;
}

input:hover, textarea:hover, input:focus, textarea:focus {
	background-color: #fff;
	border-color: #00B4FF;
}

#button-blue {
	height: 80px;
	float: left;
	width: 100%;
	border: #00B4FF solid 4px;
	cursor: pointer;
	background-color: #00B4FF;
	color: white;
	font-size: 24px;
	padding-top: 22px;
	padding-bottom: 22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	margin-top: -4px;
	font-weight: 700;
}

#button-blue:hover {
	background-color: rgba(0, 0, 0, 0);
	color: #00B4FF;
	border-color: #00B4FF;
}

.submit:hover {
	color: #00B4FF;
}

.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease {
	width: 100%;
	background-color: white;
}

@media only screen and (max-width: 580px) {
	#form-div {
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}